body,#chart {
  font-family: avenir next, sans-serif;
  font-size: 12px;
}

#chart {
  font-family: avenir next, sans-serif;
  font-size: 12px;
}



.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

circle {
  fill: #FF7700;
  fill-opacity: 0.4;
}

.axis {
  stroke-width: 0.5px;
  stroke: #888;
  font: 10px avenir next, sans-serif;
}

.axis > path {
  stroke: #888;
}
